<!DOCTYPE html>
<html>
<head>
  <title>CollectionNorth</title>
  <%= stylesheet_link_tag    "collection_north/application", media: "all" %>
  <%= javascript_include_tag "collection_north/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
